*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  background-repeat: no-repeat;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%; // Prevent font size adjustments after orientation changes in iOS
}

body {
  min-height: 100vh;
  margin: 0;
}

footer {
  flex: 1;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
  user-drag: none;
  -webkit-user-drag: none;
  object-fit: cover;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  width: fit-content;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="range"] {
  cursor: pointer;
}

button,
summary {
  cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button,
input,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  resize: none;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

td,
th {
  padding: 0;
  text-align: left;
  border: 1px solid #ccc;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  display: inline-block;
  vertical-align: middle;
}

audio:not([controls]) {
  display: none; // Hide audio elements without controls
  height: 0;
}

template {
  display: none; // Hide template elements
}
