@use "../abstracts" as *;

@use "../abstracts" as *;

body,
html {
  scroll-behavior: smooth;
  font-family: $main-font;
}

// default link styles
a {
  color: $link;
  &:hover {
    text-decoration: underline;
  }
}

// default table styles
table {
  th,
  td {
    padding: 0.7rem;
    border: 1px solid $g;
  }
}

// default button styles
button,
input[type="submit"],
input[type="button"] {
  padding: 0.5rem 0.7rem;
  background-color: $g;
  border-radius: $border-radius;
}

// default champs styles
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="(number)"],
input[type="email"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  border-radius: $border-radius;
  padding: 0.5rem;
  border: $border-xs solid $g;
}
