// color design systems

// main color scheme
$w: #fff;
$b: #000;
$g-dark: #7f8c8d;
$g: #bdc3c7;
$g-light: #ecf0f1;
$bg-light: #ecf0f1;
$bg-dark: #34495e;
$text: #333;
$link: #0056a3;
$success: #28a745;
$warning: #ff6f00;
$error: #e63946;
$info: #ffd700;
