@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght&display=swap");

// font sizing
$font-xl: 1.75em;
$font-l: 1.5em;
$font-m: 1.25em;
$font-s: 1.125em;
$font-xs: 1em;

$font-xl-responsive: 0.5em;
$font-l-responsive: 0.375em;
$font-m-responsive: 0.375em;
$font-s-responsive: 0.375em;
$font-xs-responsive: 0.375em;

// font family
$font-heading: "Montserrat", sans-serif;
$font-body: "Mitr", sans-serif;
