@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght&display=swap");

// font-size
$font-xl: 4rem; // 64px
$font-l: 1.2rem; // 20px
$font-m: 1rem; // 16px
$font-s: 0.9rem; // 15px
$font-xs: 0.7rem; // 12px

// font family
$font-montserrat: "Montserrat", sans-serif;
$main-font: "Mitr", sans-serif;
