@use "./colors" as *;

// breakpoint
$small-mobile-breakpoint: 400px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1140px;

// border size
$border-xs: 1px;
$border-s: 3px;
$border-m: 4px;

// border radius
$border-radius: 7px;

// box Shadow
$shadow-thick: 0px 4px 200px 30px rgba(0, 0, 0, 0.4);
$shadow-light: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
