// Text sizes desktop
$fs-xl-d: 50px;
$fs-l-d: 50px;
$fs-m-d: 22px;
$fs-s-d: 20px;
$fs-xs-d: 15px;
$fs-text-d: 15px;

// Text sizes mobile
$fs-xl-m: 32px;
$fs-l-m: 30px;
$fs-m-m: 20px;
// $fs-s-m: ;
// $fs-xs-m: ;
// $fs-text-m: ;
